* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 80%;
    margin: auto;
    border: 
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul,li {
    text-decoration: none;
    list-style: none;
}

.content {
    height: 87px;
    padding: 15px;
    /* background-image: url(http-696x522.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-image: -webkit-linear-gradient(left, blue 20%,red 100%);
    border-radius: 0px 0px 50px 50px;
    box-sizing: border-box;
    position: relative;
}

.top-left{
    position: absolute;
    -webkit-box-align: center;
    float: left;
}

.top-left ul li {
    display: inline-block;
    padding: 10px 0px;
    text-transform: uppercase;
}

.top-left ul li a {
    color: #00ffa3;
    font-size: larger;
    font-weight: bold;
}

.top-left ul li a:hover {
    color: rgb(236, 240, 20);
    transition: all 1s;
}

.top-right{
    float: right;
}

.top-right span a i {
    color: #fff2f2;
    padding-right: 34px;
    padding-top: 5px;
    font-size: x-large;
}

.top-right span a i:hover {
    color: brown;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.top-footer {
    background-image: -webkit-linear-gradient(left, blue 20%,red 100%);
    border-radius: 50px 7px 50px 7px;
}

.content-footer h3 {
    color: beige;
    text-align: -webkit-center;
    text-transform: uppercase;
}

.content-footer {
    padding: 30px;
}
.main {
    padding-top: 14px;
    display: flex;

}

.cot-one h3 {
    text-transform: inherit;
}

.cot-one ul li {
    list-style: disc;
    margin: 0px 16px;
}

.cot-one ul li a {
    text-decoration: underline;
    font-weight: 800;
}

.cot-25 {
    width: 25%;
    box-sizing: border-box;
    padding-left: 5px;
}

.cot-50 {
    width: 50%;
}

.Box-content {
    box-sizing: border-box;
    background:#e0dbdb42;
    padding-left: 15px;
    padding-right: 15px;
}

.content-cot2-main p {
    text-align: justify;
    word-spacing: -1.5px;
}

hang-cot3-main h1,h2,h3,h4,h5 {
    font-weight: 700;
}

.title-cot3-main a {
    text-decoration: underline;
}